<div class="row">

  <div class="large-6 columns" id="writers">

    <dl class="tabs" data-tab>
      <dd class="active"><a href="#panel2-1">امیر وکیلی تهامی</a></dd>
      <dd><a href="#panel2-2">مهرداد فرخی</a></dd>
    </dl>
    <div class="tabs-content" >
      <div class="content active" id="panel2-1">
        <div class="small-6 columns"><p>متن ساختگی به سادگی از صنعت شناخته چاپ استاندارد و وب سایت حروفچینی است.
          نمونه شده است صنعت م پرینتر در زمان ستونی و صفحه بندی نشده مطالب چاپی
          ازسالم نوع و درهم آن را به نمونه را تایپ کنید. این صورت نه تنها جان به
          پنج قرن هجدهم ، بلکه جهش به آوری حروفچینی گذاشته وجود الکترونیکی و نوعی
          رایانه ای</p></div>
        <div class="small-6 columns">
          <%= image_tag "template/400x300textimg.gif" %></div>
      </div>
      <div class="content" id="panel2-2">
        <div class="small-6 columns"><%= image_tag "template/400x300textimg.gif" %></div>
        <div class="small-6 columns"><p>متن ساختگی به سادگی از صنعت شناخته چاپ استاندارد و وب سایت حروفچینی است.
          نمونه شده است صنعت م پرینتر در زمان ستونی و صفحه بندی نشده مطالب چاپی
          ازسالم نوع و درهم آن را به نمونه را تایپ کنید. این صورت نه تنها جان به
          پنج قرن هجدهم ، بلکه جهش به آوری حروفچینی گذاشته وجود الکترونیکی و نوعی
          دیزاین رایانه ای</p></div>
      </div>
    </div>


  </div>

  <div class="large-6 columns">
    <h1>درباره ی ما</h1>

    <p>یپسوم متن ساختگی به سادگی از صنعت شناخته چاپ استاندارد و وب سایت حروفچینی است. نمونه شده است صنعت متن کتاب
      ساختگی از محصولات، زمانی که چاپگر یا پرینتر در زمان ستونی و صفحه بندی نشده مطالب چاپی ازسالم نوع و درهم آن را
      به نمونه را تایپ کنید. این صورت نه تنها جان به پنج قرن هجدهم ، بلکه جهش به آوری حروفچینی گذاشته وجود
      الکترونیکی و نوعی دیزاین رایانه ای، اساسا بدون ردی تغییر باقی مانده. آن را در فوتبال با انتشار ورق حاوی
      شهریار معابر فکری هکرها پزشک محبوبیت بود، و اخیرا فکری با نرم افزار هکر را نشر شناخت هیت من رومیزی همانند از
      جمله نسخه های دیگران بوده است راکه در پی فرهنگ پس از آن و می خواهد به آن را دارند، تنها به استفاده دلیل آن
      است. </p>

    <p> هستند معابر تغییرات بسیاری از کلمات در دسترس وجود دارد، اما دارند تغییر در بعضی از فرم رنج می برد، توسط طنز
      تزریق می شود، یا تصادفی است. اینترنت که نگاه نمی قصد حتی اندکی باور اگر شما استفاده از تصویب اورم ایپسوم
      پارسی یا فارسی شما باید جمله مطمئن شوید که هر چیزی وجود محترم ندارد شرم آور در وسط متن پنهان است. همه
      ژنراتورانگشت در تمایل به تکرار تکه های برند دیزیان از وب سایت پیش تعریف شده در صورت لزوم ، ساخت این ژنراتور
      واقعی برای اولین بار در اینترنت طراح وب سایت می باشد. فرهنگ لغت آن استفاده می کند بیش از 200 لغات لاتین ،
      همراه با تعداد شماری از ساختارهای سنگاپور مدل ، برای تولید ۱۷۰۰ هزار سال که به نظر می رسد منطقی حاصل بوده
      باشد. یورو تولید شده است در نتیجه عادی همیشه عاری از تکرار تزریق شوخ طبیعی، و یا غیر مشخصه کلمات و غیره
      ... </p>
  </div>
</div>