<div class="row">
  <div class="large-4 columns large-push-8">
    <p>
      شما می توانید از طریق فرم مقابل با ما تماس بگیرید یا هم با استفاده از یکی از لینک های زیر:<br/>
    </p>
    <ul>
      <li>۱۲۳۴۵۶۷۸۹۰</li>
      <li><a href="mailto:#">amirvt92@yahoo.com</a></li>
      <li>skype</li>
      <li>twitter</li>
    </ul>
  </div>


  <div class="large-8 columns large-pull-4">
    <fieldset>
      <legend>
        Contact Us:
      </legend>
      <div class="row collapse">
        <div class="small-9  columns">
          <input placeholder="نام" type="text" name="name" maxlength="100">
        </div>
        <div class="small-3  columns">
          <span class="postfix">?</span>
        </div>
      </div>
      <div class="row collapse">
        <div class="small-9  columns">
          <input placeholder="email" type="email" name="email" maxlength="100" required="required">
        </div>
        <div class=" small-3 columns">
          <span class="postfix">@</span>
        </div>
      </div>

      <div class="row collapse">
        <div class="small-12  columns">
          <textarea name="content" cols="20" rows="4" placeholder="enter yout comments..."></textarea>
        </div>
      </div>

      <ul class="button-group right">
        <li><a href="#" class="button success">ارسال</a></li>
      </ul>
    </fieldset>
  </div>



</div>
