@import "foundation/functions";
@include exports("global") {}
@import "foundation/components/global";

$text-direction: rtl !default;
.my-vertical-button-bar {
  list-style-type: none;
  @media screen and (max-width: 64.063em) {
    li {
      display: inline;
    }
  }
  .button {
    width: 200px;
  }
}

@mixin setBackground($c: white) {
  background-color: $c;
  &:hover {
    background-color: darken($c, 20%);
  }
}

//Calender//

#calender {
//  height: 300px;
  text-align: center;
  table-layout: fixed;
  margin: 0 auto;
  td {
    width: 14%;
    @include setBackground;
    &.date-signed-up {
      @include setBackground(lightgreen);
    }

    &.date-canceled {
      @include setBackground(tomato);
    }

    &.date-upcoming {
      @include setBackground(lightblue);
    }

    &.date-current * {

    }

  }

}

//footer//

footer {
  padding: 2em 0;
  margin: 3em 0;
  border-top: 1px solid #ddd;
  color: #999;
  text-align: center;
  font-size: 0.8em;
}

.orbit-container {
  direction: rtl;
}

.orbit-caption {
  direction: rtl;
}

.orbit-bullets-container {
  direction: rtl;
}

//#search-box {
//  * {direction: ltr;}
//  a {direction: rtl;}
//  ul {direction: rtl;}
//  li {direction: rtl;}
////  div {direction: rtl;}
//  span {direction: rtl;}
//
//
//
//}

#search-box {
  .button, input {
    width: 100%;
    height: 35px;
  }

}

.panel {

  h3 {
    text-align: center;
  }

}

#news {
  max-height: 300px;
  overflow: auto;
}

$tabBorder: 1px solid #ccc;
#writers .tabs {

  dd {
    border-bottom: $tabBorder;
    border-left: $tabBorder;
    &:first-child {
      border-left: 0;
    }

    &.active {
      border-bottom-color: white !important;
    }
    a:focus {
      outline: 0;
    }
  }

  border-top: $tabBorder;
  border-right: $tabBorder;
  border-left: $tabBorder;

}

#writers .tabs-content {
  border-bottom: $tabBorder;
  border-right: $tabBorder;
  border-left: $tabBorder;
}

#writers {
  img {
    width: 100%;
    float: right;
  }

  dd {
    width: 50%;
  }

}

.tabs {
  dd:last-child {
    border-right: $tabBorder;
  }
  a {
    border-top: $tabBorder;
    border-left: $tabBorder;
  }

//  position: relative;
//  .button-group {
//    position: relative;
//    bottom: 0;
//  }

}

.tabs-content {
  clear: right;
  border: $tabBorder;
  min-height: 300px;
}

#location-grid ul {
  list-style-type: none;
  text-align: center;
  margin: auto;
}

.pretty {
  margin-right: 15px;

  th {
    background-color: $secondary-color; //#e7e7e7;;
    }

  tr {
    &:hover {
      background-color: lighten($primary-color, 20%);
  }
    .button-group {
      position: relative;
      button: 0;
    }
  }
}




//.three-columns div {
//  position: relative;
//  p {
//    position: absolute;
//    bottom: 0;
//    clear: both;
//  }
//}

//@font-face {
//  font-family: 'yekan';
//  src:url('Byekan.eot');
//  src:url('Byekan.eot?#iefix') format('embedded-opentype'),
//  url('Byekan.svg#Byekan') format('svg'),
//  url('Byekan.woff') format('woff'),
//  url('Byekan.ttf') format('truetype');
//  font-weight: normal;
//  font-style: normal;
//}









