<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ragisterd_user.name %>
</p>

<%= link_to 'Edit', edit_ragisterd_user_path(@ragisterd_user) %> |
<%= link_to 'Back', ragisterd_users_path %>
